extends layout

mixin question(question, text)
	h3="Question " + question + ":"
			textarea.questioninput(id="q" + question, style="width:100%;font-size:16px;padding:10px;margin-top:20px",autocomplete="off")=text

block content
	div#welcome(style="padding:50px 50px")
		h1 Study Results
		button(style="display:block;margin-bottom: 10px; border:0; background: #ddd; padding: 5px 20px;", onclick="d()") Download CSV
		div(style="overflow:auto;position:relative")
			table#table(data-toggle="table", data-pagination="true", data-sortable="true", data-search="true", style="font-size:16px;positon:relative")
				thead
					tr
						- var columns = headers
						- for (var i = 0; i < columns.length; ++i)
							th= columns[i]
				tbody(style="max-height:100px;overflow-y:auto")
					each row in users
						tr
							- for (var i = 0; i < columns.length; ++i)
								- var col = columns[i];
								- if (col.includes('start') || col.includes('ending'))
									- if (row[col])
										td=moment(row[col]).format('MM/DD HH:mm:ss')
									- else
										td=""
								- else if (col.includes('feedback'))
									td(style="white-space:normal;max-width:300px;")
										div(style="overflow-y:auto;overflow-x:hidden;")=row[col]
								- else if (col.includes('email_index') && row[col])
									- var s = row[col.replace('email_index', 'scenario')];
									td
										a(href='javascript:void(0)', onclick='window.open("/emails/' + s + '/' + row[col] + '")')=row[col] + ' (click to view email)'
								- else 
									td=row[col]

	script(type="text/javascript" src="/javascripts/download.js")
	script(type="text/javascript" src="/javascripts/admin.js")
	//- - var s = csv
	script.
		$('.pushes > tbody > tr').not('.round1').hide();
		$('.inputs > tbody > tr').not('.round1').hide();
		var csv = `!{csv}`
