extends layout

mixin question(question, text)
	h3="Question " + question + ":"
			textarea.questioninput(id="q" + question, style="width:100%;font-size:16px;padding:10px;margin-top:20px",autocomplete="off")=text

block content
	div#welcome(style="overflow-y:auto;padding:50px 50px;position:absolute;top:0;left:0;right:0;bottom:0")
		h1 Study Results
		button(style="display:block;margin-bottom: 10px; border:0; background: #ddd; padding: 5px 20px;", onclick="d()") Download CSV
		div(style="overflow:auto;position:relative")
			table#table(data-toggle="table", data-pagination="true", data-sortable="true", data-search="true", style="font-size:16px;positon:relative")
				thead
					tr
						- var columns = headers
						- for (var i = 0; i < columns.length; ++i)
							th= columns[i]
				tbody(style="max-height:100px;overflow-y:auto")
					each row in users
						tr
							- for (var i = 0; i < columns.length; ++i)
								- var col = columns[i];
								- if (col.includes('start') || col.includes('ending'))
									- if (row[col])
										td=moment(row[col]).format('MM/DD HH:mm:ss')
									- else
										td=""
								- else if (col.includes('feedback'))
									td(style="white-space:normal;max-width:300px;")
										div(style="overflow-y:auto;overflow-x:hidden;")=row[col]
								- else if (col.includes('email_index') && row[col])
									- var s = row[col.replace('email_index', 'scenario')];
									td
										a(href='javascript:void(0)', onclick='window.open("/emails/' + s + '/' + row[col] + '")')=row[col] + ' (click to view email)'
								- else if (col.includes('links_clicked') && row[col])
									- var links = JSON.parse(row[col])
									- var summs = ''
									- for (var j = 0; j < links.length; ++j)
										- summs += '<b>link ' + j + ':</b> <i>Clicked:</i> ['
										- if (links[j].clicks.length == 0)
											- summs += 'NONE'
										- for (var h = 0; h < links[j].clicks.length; ++h)
											summs
											- summs += links[j].clicks[h] + ', '
										- summs += '], <i>Hover:</i> ['
										- if (links[j].hover.length == 0)
											- summs += 'NONE'
										- for (var h = 0; h < links[j].hover.length; ++h)
											summs
											- summs += links[j].hover[h] + ', '
										- summs += ']<br>'

									td !{summs}
								- else 
									td=row[col]

		h1 Emails (#{emails[0].phishing.length + emails[0].normal.length + emails[1].phishing.length + emails[1].normal.length})
		div(style="position:relative;width:100%;overflow:hidden")
			div(style="width:calc(50% - 40px);padding:20px;float:left;overflow:hidden;")
				h2: u Apple Scenario
				div(style="width:calc(50% - 20px);float:left;padding:10px")
					h3: b Phishing
					each email, index in emails[0].phishing
						p: a(href="/emails/Apple/"+index)=email.subject
				div(style="width:calc(50% - 20px);float:left;padding:10px")
					h3: b Normal
					each email, index in emails[0].normal
						p: a(href="/emails/Apple/"+ (index + emails[0].phishing.length))=email.subject
			div(style="width:calc(50% - 40px);padding:20px;float:left;overflow:hidden;")
				h2: u NYU Student Scenario
				div(style="width:calc(50% - 20px);float:left;padding:10px")
					h3: b Phishing
					each email, index in emails[1].phishing
						p: a(href="/emails/NYU/"+index)=email.subject
				div(style="width:calc(50% - 20px);float:left;padding:10px")
					h3: b Normal
					each email, index in emails[1].normal
						p: a(href="/emails/NYU/"+ (index + emails[1].phishing.length))=email.subject

	script(type="text/javascript" src="/javascripts/download.js")
	script(type="text/javascript" src="/javascripts/admin.js")
	//- - var s = csv
	script.
		$('.pushes > tbody > tr').not('.round1').hide();
		$('.inputs > tbody > tr').not('.round1').hide();
		var csv = `!{csv}`
