extends layout.pug

mixin likert(name)
	ul.likert
		li.small
			input(type='radio', name=name, value='strong_disagree', autocomplete='off')
			label Strongly Disagree
		li.small
			input(type='radio', name=name, value='disagree', autocomplete='off')
		li.small
			input(type='radio', name=name, value='neutral', autocomplete='off')
			label Neutral
		li.small
			input(type='radio', name=name, value='agree', autocomplete='off')
		li.small
			input(type='radio', name=name, value='strong_agree', autocomplete='off')
			label Strongly Agree

mixin question(index, question)
	tr
		td(style="padding:10px;text-align:left;")
			label(for="gender", style="font-weight:normal;") !{question}
				| &nbsp;&nbsp;&nbsp;
		td(style="padding:10px;")
			+likert("q" + index)

block content
	- var s = sound.replace('/sounds/', '').replace('.mp3', '').replace('.wav', '');
	div#welcome(style="overflow-y: auto; position: absolute; top: 0; left: 0; right: 0; bottom: 0;")
		h3(style="text-align:center;clear:right")="Sound Survey - " + s 
		h4(style="text-align:center;clear:right") 
			i To what extent do you agree with the 8 statements below on how you experience the present surrounding soundscape environment (please tick off one response alternative per statement): 
		hr
		table(style="margin: 0 auto;")
			+question(0, "The soundscape sounds <b>pleasant</b>")
			+question(1, "The soundscape feels <b>chaotic</b>")
			+question(2, "The soundscape feels <b>exciting</b>")
			+question(3, "The soundscape feels <b>eventful</b>")
			+question(4, "The soundscape feels <b>calm</b>")
			+question(5, "The soundscape sounds <b>annoying</b>")
			+question(6, "The soundscape feels <b>uneventful</b>")
			+question(7, "The soundscape sounds <b>monotonous</b>")

		button#next.good(onclick="next();", style="float:none; margin: 50px auto") Continue

		audio#audio(autoplay, style="display:none;", loop)
			source(src=sound, type="audio/wav")
			source(src=sound, type="audio/flac")
			source(src=sound, type="audio/mpeg")

	script.
		window.scrollTop(0)
		function next() {
			var flag = true;
			var radioValue = $("input[name='q1']:checked").val();
			var data = {
				pleasant: $("input[name='q0']:checked").val(),
				chaotic: $("input[name='q1']:checked").val(),
				exciting: $("input[name='q2']:checked").val(),
				eventful: $("input[name='q3']:checked").val(),
				calm: $("input[name='q4']:checked").val(),
				annoying: $("input[name='q5']:checked").val(),
				uneventful: $("input[name='q6']:checked").val(),
				monotonous: $("input[name='q7']:checked").val(),
				sound: "#{s}",
			}

			for (var key in data) {
				if (data[key] == null) flag = false;
			}

			if (!flag) alert('Please answer all fo the questions.')
			else {
				// window.location = '/result';
				$.post('/api/sounds', data, function() { window.location.reload(); });
			}
		}